div#notesBox {
  float: left;
  width: 430px;
  border: #F0F 1px dashed;
  margin-right: 60px;
  padding: 10px; }

div#friendReqBox {
  float: left;
  width: 430px;
  border: #F0F 1px dashed;
  padding: 10px; }

div.friendrequests {
  height: 74px;
  border-bottom: #CCC 1px solid;
  margin-bottom: 8px; }

img.user_pic {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 8px; }

div.user_info {
  float: left;
  font-size: 14px; }

#profile_pic_box {
  float: left;
  border: #999 2px solid;
  width: 250px;
  height: 250px;
  overflow-y: hidden; }
  #profile_pic_box img {
    width: 246px;
    height: 246px; }
  #profile_pic_box a {
    display: block;
    position: absolute;
    background: #D8F08E;
    border: #81A332 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #60750B; }
    #profile_pic_box a:hover {
      display: block; }
  #profile_pic_box form {
    display: none;
    position: absolute;
    z-index: 3000;
    padding: 10px;
    opacity: .8;
    background: #F0FEC2;
    width: 180px;
    height: 180px; }

.profileHead {
  background-color: #aaaaaa; }

.profilePic {
  background-color: #bbbbbb; }

.banner {
  background-color: #cccccc; }

.bannerTabs {
  text-align: center;
  bottom: 0px; }

.profileBody {
  background-color: #dddddd;
  /*height:80%;*/ }

.quickNav {
  background-color: #eeeeee;
  /*position: fixed;*/ }

.projectContent {
  background-color: #33343e; }

.profileFoot {
  background-color: #123456; }

.convoList {
  background-color: rgba(0, 200, 200, 0.2); }
  .convoList #startConvo {
    margin: auto;
    width: 100%; }
  .convoList ul {
    list-style-type: none; }

.convoContent {
  background-color: rgba(200, 0, 200, 0.2); }
  .convoContent h4 {
    text-align: center; }
  .convoContent #messageBox {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(100, 0, 100, 0.3); }
    .convoContent #messageBox #conversationHead {
      margin: auto;
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      background-color: rgba(100, 50, 100, 0.3); }
    .convoContent #messageBox #appearMessage {
      height: 600px;
      width: 100%;
      background-color: #FFF;
      overflow-y: scroll;
      margin: auto; }
      .convoContent #messageBox #appearMessage .msg {
        margin: 10px 10px;
        background-color: #f1f0f0;
        max-width: calc(45% - 20px);
        color: #000;
        padding: 10px;
        font-size: 14px; }
      .convoContent #messageBox #appearMessage .msgfrom {
        background-color: #0084ff;
        color: #FFF;
        margin: 10px 10px 10px 55%; }
      .convoContent #messageBox #appearMessage .msgarr {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #f1f0f0;
        transform: rotate(315deg);
        margin: -12px 0px 0px 45px; }
      .convoContent #messageBox #appearMessage .msgarrfrom {
        border-bottom: 8px solid #0084ff;
        float: right;
        margin-right: 45px; }
      .convoContent #messageBox #appearMessage .msgsentby {
        color: #8C8C8C;
        font-size: 12px;
        margin: 4px 0px 0px 10px; }
      .convoContent #messageBox #appearMessage .msgsentbyfrom {
        float: right;
        margin-right: 12px; }
  .convoContent #inputBox {
    width: 100%;
    height: 50px;
    margin: auto;
    border-top: 1px solid #CCC;
    background-color: #EBABEB; }
    .convoContent #inputBox #messageInput {
      padding: 3px;
      width: 100%;
      font-size: 14px;
      margin: auto;
      outline: none; }

/*
button
{
  background-color: #43ACEC;
  border: none;
  color: #FFF;
  font-size: 16px;
  margin: 0px auto;
  width: 150px;
}
.buttonp
 {
  width: 150px;
  margin: 0px auto;
}

.msg
{
  margin: 10px 10px;
  background-color: #f1f0f0;
  max-width: calc(45% - 20px);
  color: #000;
  padding: 10px;
  font-size: 14px;
}
.msgfrom
{
  background-color: #0084ff;
  color: #FFF;
  margin: 10px 10px 10px 55%;
}
.msgarr
{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f1f0f0;
  transform: rotate(315deg);
  margin: -12px 0px 0px 45px;
}
.msgarrfrom
{
  border-bottom: 8px solid #0084ff;
  float: right;
  margin-right: 45px;
}
.msgsentby
 {
  color: #8C8C8C;
  font-size: 12px;
  margin: 4px 0px 0px 10px;
}
.msgsentbyfrom
{
  float: right;
  margin-right: 12px;
}
*/
h1 {
  text-align: center; }

.accSettings {
  text-align: center;
  background-color: #bbbbbb;
  margin-left: 17%; }

.dashboard div {
  color: green; }

.dashOption {
  background-color: pink;
  padding: 3px;
  border-radius: 15px;
  border: 8px solid #eeeeee; }

/*# sourceMappingURL=main.css.map */
