@import url(https://fonts.google.com/specimen/Indie+Flower);
div#notesBox {
  float: left;
  width: 430px;
  border: #F0F 1px dashed;
  margin-right: 60px;
  padding: 10px; }

div#friendReqBox {
  float: left;
  width: 430px;
  border: #F0F 1px dashed;
  padding: 10px; }

div.friendrequests {
  height: 74px;
  border-bottom: #CCC 1px solid;
  margin-bottom: 8px; }

img.user_pic {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 8px; }

img.im_pic {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-top: 8px; }

div.user_info {
  float: left;
  font-size: 14px; }

.profileLeft {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  height: 625px; }
  .profileLeft #profile_pic_box {
    width: 156px;
    height: 160px; }
    .profileLeft #profile_pic_box img {
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 159px; }
    .profileLeft #profile_pic_box a {
      display: block;
      position: absolute;
      z-index: 4000;
      background: #D8F08E;
      border: #81A332 1px solid;
      border-radius: 3px;
      padding: 5px;
      font-size: 12px;
      text-decoration: none;
      color: #60750B; }
    .profileLeft #profile_pic_box form {
      display: none;
      position: absolute;
      z-index: 3000;
      padding: 10px;
      opacity: .8;
      background: #F0FEC2;
      width: 100%;
      height: 157px;
      top: 0;
      left: 0;
      color: black;
      overflow-x: hidden; }
  .profileLeft #quickNav {
    position: absolute;
    left: 0; }
    .profileLeft #quickNav .navButton {
      border-radius: 7px;
      background-color: #BF66BF;
      box-shadow: 1px 1px 5px #888888;
      text-align: center;
      font-size: 18px;
      height: 65px;
      width: 100%;
      color: white;
      cursor: pointer; }
      .profileLeft #quickNav .navButton:hover {
        text-decoration: underline;
        background-color: #402240; }
  .profileLeft #titles {
    text-align: left; }

.profileRight {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  position: relative; }
  .profileRight #projectContent .modalPic {
    border-radius: 5px;
    cursor: pointer; }
  .profileRight #projectContent .modal-dialog {
    width: 1000px; }
  .profileRight #tabs {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1; }
    .profileRight #tabs .tablinks {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s; }
      .profileRight #tabs .tablinks:hover {
        background-color: #ddd; }
      .profileRight #tabs .tablinks:focus {
        background-color: #ccc; }
    .profileRight #tabs .elementContent {
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none; }

.frndConvoList, .convoList, .convoContent {
  box-shadow: 5px 5px 5px #888888;
  background-color: rgba(0, 200, 200, 0.2);
  border: #60A0FF 2.5px solid;
  border-radius: 5px; }
  .frndConvoList #talks, .convoList #talks, .convoContent #talks {
    width: 150px;
    height: 60px;
    background-color: #FFF;
    margin-bottom: 8px;
    text-align: center;
    border: #182840 1.5px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888888;
    padding: 4px 4px; }
    .frndConvoList #talks .talk_pic, .convoList #talks .talk_pic, .convoContent #talks .talk_pic {
      float: left;
      width: 55px;
      height: 50px;
      margin-right: 8px;
      border-radius: 5px; }
    .frndConvoList #talks .talkData, .convoList #talks .talkData, .convoContent #talks .talkData {
      float: left; }

.convoList {
  box-shadow: 0px 5px 5px #888888; }
  .convoList #startConvo {
    margin: auto;
    width: 100%;
    border-style: inset;
    border-radius: 5px; }

.convoContent {
  box-shadow: 0px 5px 5px #888888; }
  .convoContent #messageBox {
    width: 100%;
    height: 100%;
    margin: auto; }
    .convoContent #messageBox #conversationHead {
      margin: auto;
      text-align: center;
      font-size: 20px;
      font-weight: normal; }
    .convoContent #messageBox #appearMessage {
      height: 480px;
      width: 100%;
      background-color: #FFF;
      overflow-y: auto;
      margin: auto;
      border-style: inset;
      border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msg {
        margin: 10px 10px;
        background-color: #6778FF;
        max-width: calc(45% - 20px);
        color: #FFF;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msgfrom {
        background-color: #6CE559;
        color: #FFF;
        margin: 10px 10px 10px 55%;
        border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msgarr {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #6778FF;
        transform: rotate(315deg);
        margin: -12px 0px 0px 45px; }
      .convoContent #messageBox #appearMessage .msgarrfrom {
        border-bottom: 8px solid #6CE559;
        float: right;
        margin-right: 45px; }
      .convoContent #messageBox #appearMessage .msgsentby {
        color: #8C8C8C;
        font-size: 12px;
        margin: 4px 0px 0px 10px; }
      .convoContent #messageBox #appearMessage .msgsentbyfrom {
        float: right;
        margin-right: 12px; }
  .convoContent #inputBox {
    width: 100%;
    height: 50px;
    margin: auto;
    border-top: 1px solid #CCC; }
    .convoContent #inputBox #messageInput {
      padding: 3px;
      width: 100%;
      font-size: 14px;
      margin: auto;
      outline: none;
      border-radius: 5px; }

h1 {
  text-align: center; }

.accSettings {
  text-align: center;
  background-color: #bbbbbb;
  margin-left: 17%; }

.dashboard div {
  color: green; }

.dashOption {
  background-color: rgba(125, 25, 255, 0.6);
  padding: 3px;
  border-radius: 15px;
  border: 8px solid #333333; }
  .dashOption a {
    color: white; }

#checks {
  text-align: right; }

#searchCriteria {
  background-color: #eee;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px; }
  #searchCriteria #searchBar {
    border-radius: 5px; }
  #searchCriteria ul {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0; }

#starMap {
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
  height: 375px;
  padding: 10px; }
  #starMap img {
    border-radius: 5px;
    width: 805px;
    height: 300px; }

#results {
  box-shadow: 1px 1px 5px #888888;
  background-color: #eee;
  border-radius: 5px; }
  #results #resultList {
    height: 200px;
    overflow-y: auto;
    list-style: none; }
    #results #resultList li {
      border: #182840 1.5px solid;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #888888;
      background-color: white;
      padding-left: 5px;
      padding-right: 5px;
      width: 735px; }
      #results #resultList li:hover {
        color: white;
        background-color: #ddd; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  background-color: #ddd; }

/* Style the accordion panel. Note: hidden by default */
.panell {
  padding: 0 18px;
  list-style: none;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .panell li {
    background-color: #eee;
    padding-left: 5px;
    padding-right: 5px; }
    .panell li:hover {
      color: white;
      background-color: #ddd;
      cursor: pointer; }
  .panell li:active {
    color: purple;
    background-color: #ddd; }

@media only screen and (max-width: 540px) {
  .chat-sidebar {
    display: none !important; }

  .chat-popup {
    display: none !important; } }
.chat-sidebar {
  width: 150px;
  position: fixed;
  height: 100%;
  right: 0px;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(29, 49, 91, 0.3); }

.sidebar-name {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  font-size: 12px; }

.sidebar-name span {
  padding-left: 5px; }

.sidebar-name a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit; }

.sidebar-name:hover {
  background-color: #e1e2e5; }

.sidebar-name img {
  width: 32px;
  height: 32px;
  vertical-align: middle; }

.popup-box {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background-color: #edeff4;
  width: 300px;
  border: 1px solid rgba(29, 49, 91, 0.3); }

.popup-box .popup-head {
  background-color: #6d84b4;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both; }

.popup-box .popup-head .popup-head-left {
  float: left; }

.popup-box .popup-head .popup-head-right {
  float: right;
  opacity: 0.5; }

.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: inherit; }

.popup-box .popup-messages {
  height: 100%;
  overflow-y: scroll; }

ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 10px;
  left: 0px;
  list-style: none;
  z-index: 9999; }
  ul#navigation .dropdown-menu {
    background: transparent;
    border: none; }
  ul#navigation li {
    width: 100px; }
  ul#navigation a {
    text-align: right;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-right: -2px;
    width: 90px;
    height: 50px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #AFAFAF;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    -khtml-border-top-right-radius: 8px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    /*
      opacity: 0.6;
    */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); }

span {
  font-size: 1.0em !important; }
  span i {
    font-size: 1.5em !important;
    padding-top: 15px !important; }

b {
  text-align: left;
  font-size: .7em; }

/*
html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: black; /* #030321
  font-family: Arial;
}
 */
svg {
  display: block;
  font: 50.5em 'Indie+Flower';
  width: 900px;
  height: 100px;
  margin: 0 auto;
  background-color: white; }

.text-copy {
  fill: none;
  stroke: black;
  stroke-dasharray: 6% 29%;
  stroke-width: 15px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear; }

.text-copy:nth-child(1) {
  stroke: black;
  /* #FF82FD */
  animation-delay: -1s; }

.text-copy:nth-child(2) {
  stroke: black;
  /* #00C8FF */
  animation-delay: -2s; }

.text-copy:nth-child(3) {
  stroke: white;
  /* #9A21FF*/
  animation-delay: -3s; }

.text-copy:nth-child(4) {
  stroke: black;
  /* #695175*/
  animation-delay: -4s; }

.text-copy:nth-child(5) {
  stroke: white;
  /* #6296A1*/
  animation-delay: -5s; }

.text-copy:nth-child(6) {
  stroke: black;
  /* #6296A1*/
  animation-delay: -6s; }

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%; } }
#gettingStartedPanel {
  text-align: center;
  border: #999 2.5px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  margin-top: 125px;
  margin-bottom: 150px; }
  #gettingStartedPanel .pathOption {
    width: 350px;
    height: 175px;
    color: white;
    background-color: #4A9CBF;
    border-radius: 10px;
    font-size: 40px;
    border: #fff 1.5px solid;
    /*&:focus
    {
      background-color:#193440;
    }*/ }
    #gettingStartedPanel .pathOption:hover, #gettingStartedPanel .pathOption:focus {
      background-color: #63D1FF; }

.continue {
  width: 300px;
  height: 80px;
  color: white;
  background-color: #AAA;
  border-radius: 10px;
  font-size: 40px;
  border: #fff 1.5px solid; }
  .continue:hover {
    background-color: #555; }

.carousel {
  margin-bottom: 0rem;
  color: black; }
  .carousel p {
    text-align: center; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
  color: black; }

/* Declare heights because of positioning of img element */
.carousel-item {
  /*border: 2px solid #a1a1a1;*/
  border-radius: 25px;
  height: 40rem;
  background-color: #eee; }

.carousel-item > img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; }

.sr-only {
  color: black; }

.marketing h2 {
  font-weight: normal; }
.marketing .col-lg-4 {
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center; }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem; }

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */ }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }

  .featurette-heading {
    font-size: 50px; } }
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }
h1, h2, h3, h4, h5, h6 {
  text-align: center; }

/*body
{
  background-color: #777;
}*/

/*# sourceMappingURL=main.css.map */
