h1
{
  text-align: center;
}
.accSettings
{
  text-align: center;
  background-color: #bbbbbb;
  margin-left: 17%;
}
.dashboard div
{
  color:green;
}
.dashOption
{
  background-color: pink;
  padding:3px;
  border-radius: 15px;
  border: 8px solid #eeeeee;
}
