.profileLeft
{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  height: 390px;
  #profile_pic_box
  {
    width:156px;
    height:160px;
    img
    {
      border-radius: 5px;
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 159px;
    }
    a
    {
      display: block;
    	position:absolute;
    	z-index:4000;
    	background:#D8F08E;
    	border:#81A332 1px solid;
    	border-radius:3px;
    	padding:5px;
    	font-size:12px;
    	text-decoration:none;
    	color:#60750B;
    }
    form
    {
      display:none;
    	position:absolute;
    	z-index:3000;
    	padding:10px;
    	opacity:.8;
    	background:#F0FEC2;
    	width:100%;
    	height:157px;
      top:0;
      left:0;
      color: black;
      overflow-x:hidden;
    }
  }
  #quickNav
  {
    position: absolute;
    left:0;
    .navButton
    {
      border-radius: 7px;
      background-color: #BF66BF;
      box-shadow: 1px 1px 5px #888888;
      text-align: center;
      font-size: 18px;
      height: 65px;
      width: 100%;
      color: white;
      cursor: pointer;
      &:hover
      {
        text-decoration: underline;
        background-color: #402240;
      }
    }
  }
}
.profileRight
{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  position: relative;
  #projectContent
  {
    img
    {
      border-radius: 5px;
    }
  }
}
