.profileLeft
{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  height: 625px;
  #profile_pic_box
  {
    width:156px;
    height:160px;
    img
    {
      border-radius: 5px;
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      height: 159px;
    }
    a
    {
      display: block;
    	position:absolute;
    	z-index:4000;
    	background:#D8F08E;
    	border:#81A332 1px solid;
    	border-radius:3px;
    	padding:5px;
    	font-size:12px;
    	text-decoration:none;
    	color:#60750B;
    }
    form
    {
      display:none;
    	position:absolute;
    	z-index:3000;
    	padding:10px;
    	opacity:.8;
    	background:#F0FEC2;
    	width:100%;
    	height:157px;
      top:0;
      left:0;
      color: black;
      overflow-x:hidden;
    }
  }
  #quickNav
  {
    position: absolute;
    left:0;
    .navButton
    {
      border-radius: 7px;
      background-color: #BF66BF;
      box-shadow: 1px 1px 5px #888888;
      text-align: center;
      font-size: 18px;
      height: 65px;
      width: 100%;
      color: white;
      cursor: pointer;
      &:hover
      {
        text-decoration: underline;
        background-color: #402240;
      }
    }
  }
  #titles
  {
    text-align: left;
    //font-weight: bold;
  }
}
.profileRight
{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  position: relative;
  #projectContent
  {
    .modalPic
    {
      border-radius: 5px;
      cursor: pointer;
    }
    .fullPic
    {

    }
    .modal-dialog
    {
      width: 1000px;
    }
  }
  #tabs
  {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    .tablinks
    {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      &:hover
      {
        background-color: #ddd;
      }
      &:focus
      {
        background-color: #ccc;
      }
    }
    .elementContent
    {
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
  }
}
