#searchCriteria
{
  background-color: #eee;
  ul
  {
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0;
  }
  h4
  {
    text-align: center;
  }
}
.accordion
{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    //padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    //list-style-type: none;
    text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover
{
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
.panell
{
    padding: 0 18px;
    background-color: rgba(200,200,200,.3);
    list-style: none;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
